*{
	margin:0;
	padding:0;
    box-sizing:border-box;
 }
 
 li {
	 list-style:none; 
 }
 html {
	 scroll-behavior : smooth; 
 }
 a {
	 display:block;
 }
 p a {
	 display:inline;
 }
 img, svg{
	 display:block;
	 width:100%;
	 height:initial;
 }
h1 , h2 , h3 , h4 , h5 , h6 , p , strong , em , mark , a {
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	color: inherit;
	text-decoration: none;
	background-color: inherit;
}

 :root {
	 font-size:100%;
 }
 .header__a {
    text-decoration: none;
}

.header {
    margin: 1rem auto ;
    width: 96%;
    display:flex;
    flex-flow: row nowrap;
    justify-content:space-between ;
    align-items: center;
}
.header__h1 {
    padding: 5px;
    width: 100%;
    max-width: 15vw;
}

.header__a {
	width: 200px;
	height: 20px;
}
.header__img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.header__nav{
    width: 100%;
    max-width: 20vw;
    /* background-color: red; */
}

.header__ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: end;
    align-items: center;
    gap:20px;
}
@media (max-width:700px) {
    .header__ul {
        display:none;
    }
}

.header__li {
    border: rgba(0, 0, 0, 0.457) 1px solid;
    /* list-style: none; */
}
.header__a{
    width: 100%;
    max-width: 140px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.828);
	text-transform: uppercase;
}
.header__menu {
    padding-right:1rem ;
    width: 100%;
    /* background-color: brown; */
    max-width: 30px;
    min-height:40px ; 
  
}
.header__img2{
    width: 100%;
    height: 100%;
  object-fit: contain;
 
}

.contenedor{
	margin: auto;
    width: 100%;
    max-width: 95vw;
    /* min-height: 100vh; */
    /* background-color: blue; */
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap:5px;     
}
@media(max-width:1000px)
{
    .contenedor{
        grid-template-columns:repeat(4, 1fr);
        gap:3px;
    }

}
@media(max-width:600px)
{
    .contenedor{
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
        gap:2px;
    }

}

.contenedor__item{
    /* background-color: red; */
}
#flor {
    background-color: black;
}
@media (max-width:600px)
{
    #flor {
        display: none;
    }
}

.contenedor__img{
	width: 100%;
	height: 100%;
}
.contenedor__item--large{
	/* background-color: green; */
	grid-row: span 2;
    position: relative;
}
.contenedor__img--large{
    width: 100%;
	height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
@media(max-width:500px)
{
    .contenedor__img--large {
        object-fit:fill;
    }
}



.contenedor__item--big{
	/* background-color: pink; */
	grid-column: span 2;
	grid-row: span 2;
}



.contenedor__item--width{
	/* background-color: bisque; */
	grid-column: span 2;
}

@media(max-width:1000px)
{
    .contenedor__item--width{
        grid-column: span 4;
    }
}
@media(max-width:600px)
{
    .contenedor__item--width{
        grid-column: span 2;
    }
}

.footer{
	margin: 5rem auto;
    width: 100%;
    max-width: 800px;
    display:flex;
    flex-flow: column nowrap;
    justify-content: end;
    align-items: center;
    gap: 10px;
}
@media (max-width: 700px)
{
    .footer{
        margin: 2rem auto;
    }
}

.footer__logo {
    width: 100%;
    max-width: 150px;
}
.footer__a{
    width: 100%;
    max-width: 150px;
    min-height: 40px;
}

footer__img {
    width: 100%;
    height: 100%;
    object-fit: contain;

}
.footer__info {
    width: 100%;
    max-width: 300px;
    min-height: 50px;
    color: rgba(0, 0, 0, 0.574);
	text-align: center;
}

.footer__copy {
    margin-top: 7rem;
    width: 100%;
    max-width: 300px;
    color: rgba(0, 0, 0, 0.574);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
@media (max-width: 700px)
{
    .footer__copy{
        margin: 1rem auto;
    }
}
.footer__span--borde {
    border: 1px solid black;
    padding: 1px;
}


